@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --main-color:#33CC66;
   --second-color:#306231;
   --black:#222;
   --white:#fff;
   --light-black:#777;
   --light-white:#fff9;
   --dark-bg:rgba(0,0,0,.7);
   --light-bg:#eee;
   --border: .1rem solid var(--main-color);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}
section{
   padding:5rem 10%;
}

@keyframes fadeIn {
   0%{
      transform: scale(0);
      opacity: 0;
   }
}

.heading{
   background-size: cover !important;
   background-position: center !important;
   padding-top: 10rem;
   padding-bottom:15rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.heading h1{
   font-size: 10rem;
   color:var(--white);
   text-shadow: var(--text-shadow);
}

.btn{
   display: inline-block;
   background: var(--second-color);
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   cursor: pointer;
}

.btn:hover{
   background: var(--main-color);
}

.btn-1 {
   display: inline-block;
   text-decoration: none;
   border: 1px solid var(--white);
   color:var(--white);
   
   font-size: 1.6rem;
   padding:1rem 3rem;
   cursor: pointer;
}
.btn-1:hover{
   background: var(--main-color);
}
.btn-1 span {
   display: inline-block;
}
.heading-title{
   text-align: center;
   margin-bottom: 2rem;
   font-size: 6rem;
   border-top: 1px solid var(--main-color);
   padding-top: 1rem;
   color:var(--black);
}
.head p {
   font-size: 2rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 2.5rem 0 2.5rem;
   text-align: center;
   margin-bottom: 3rem;
}

.header{
   position: sticky;
   top:0; left:0; right:0;
   z-index: 1000;
   background-color: var(--white);
   display: flex;
   padding-top: 2rem;
   padding-bottom: 2rem;
   box-shadow: var(--box-shadow);
   align-items: center;
   justify-content: space-between;
}


.header .navbar ul {
   list-style: none;   
}
.header .navbar ul li {
   position: relative;
   float: left;
}
.header .navbar ul li a {
   font-size: 2rem;
   margin-left: 2rem;
   display: block;
   text-decoration: none;
   color: var(--black);
   opacity: 1;
   position: relative;
}
.header .navbar a::before {
   content: '';
   display: block;
   height: 1px;
   background: var(--main-color);
   position: absolute;
   top: -.75rem;
   left: 0;
   right: 0;
   transform: scale(0,1);
   transition: transform ease-in-out 250ms;
}
.header .navbar a:hover::before {
   transform: scale(1,1);
}
.header .navbar a:hover{
   color: var(--main-color)
}
.header .navbar ul li ul {
   position: absolute;
   left: 0;
   width: 256px;
   margin: 0;
   padding: 25px 0;
   background: var(--white);
   display: none;
}
.header .navbar ul li ul li {
   width: 100%;
}

.header .navbar ul li ul li a {
   padding: 4px 10px 4px 30px;
   margin: 0;
   font-size: 1.5rem;
   color: #747474
}

.header .navbar ul li:hover > ul {
   display: initial;
   transition: 0.3s ease-in;
}
.header .navbar ul li ul li:hover {
  transition: .3s linear; 
  padding-left: 45px;
}




/* .header .navbar a:hover{
   color:var(--main-color);
} */
/* =================== */
#menu-btn{
   font-size: 3rem;
   cursor: pointer;
   color: var(--white);
   background: var(--second-color);
   padding: 4px 8px 4px;
   display: none;
}

.home .slide{
   text-align: center;
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background-size: cover !important;
   background-position: center !important;
   min-height: 60rem;
}

.home .slide .content{
   width: 95rem;
   display: none;
}

.home .swiper-slide-active .content{
   display: inline-block;
}

.home .slide .content span{
   display: block;
   font-size: 2.2rem;
   color: var(--light-white);
   padding-bottom: 1rem;
   animation:fadeIn .2s linear backwards .2s;
}

.home .slide .content h3{
   font-size: 4vw;
   color:var(--white);
   line-height: 1;
   text-shadow: var(--text-shadow);
   padding:1rem 0;
   animation:fadeIn .2s linear backwards .4s;
}

.home .slide .content .btn{
   animation:fadeIn .2s linear backwards .6s;
}

.home .swiper-button-next,
.home .swiper-button-prev{
   top:inherit;
   left: inherit;
   bottom: 0;
   right: 0;
   height: 7rem;
   width: 7rem;
   background: var(--white);
   color:var(--black);
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover{
   background: var(--main-color);
   color:var(--white);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after{
   font-size: 2rem;
}

.home .swiper-button-prev{
   right: 7rem;
}
.services {
   background: var(--light-bg);
}
.services .heading-title {
   border: none;
}
.services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
   gap: 1.5rem;
}

.services .box-container .box{
   padding:3rem 2rem;
   background: var(--main-color);
   color: var(--white);
   cursor: pointer;
}
.services .box-container .box .boxcenter{
   background-color: #222;
}

.services .box-container .image{
   padding: 0;
   background: none;
   pointer-events: none;
}

.services .box-container .box:hover{
   background: var(--black);
}

.services .box-container .image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   background-position: center;
}
.services .box-container .size{
   display: flex;
   align-items: center;
   justify-content: center;
}
.services .box-container .box .aboutus {
   max-width: 100%;
   max-height: 100%;
   object-fit: cover;
   background-position: center;
}

.services .box-container .box h3{
   color:var(--white);
   font-size: 2rem;
   padding-bottom: .7rem;
}
.services .box-container .box p{
   font-size: 1.5rem;
   color:var(--white);
}
.services .box-container .expertise {
   display: flex;
   flex-direction: column;
}
.services .box-container .expertise div {
   display: flex;
}
.services .box-container .box span i{
   color:var(--white);
   padding-right: .5rem;
   transition: .2s linear;
}
.services .box-container .box span {
   color:var(--white);
   font-size: 1.5rem;
}

.home-about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   background: var(--light-bg);
}
.home-about-1 {
   background: var(--white);
}
.home-about .image{
   flex:1 1 41rem;
   background: var(--white);
   padding: 8rem;
   box-shadow: var(--box-shadow);
}

.home-about .image img{
   width: 100%;
}

.home-about .content{
   flex:1 1 41rem;
   padding:3rem;
   background: var(--white);
}
.home-about .content-1 {
   background: var(--light-bg);
}

.home-about .content h3{
   font-size: 3rem;
   color:var(--black);
}

.home-about .content p{
   font-size: 1.7rem;
   padding:1rem 0;
   line-height: 2;
   color:var(--light-black);
}
.home-about .content p span{
   color: var(--main-color);
}

/* contact start  */
.home-about .image p span {
   text-transform: uppercase;
}

.home-about .image legend {
   width: 100%;
   padding-bottom: 2rem;
}
.home-about.image  fieldset {
   width: 100%;
}
.home-about .image  legend h3 {
   font-size: 3rem;
   color:var(--black);
}
.home-about .image  legend p {
   padding-top: 5px;
   font-size: 1.7rem;
   color: var(--light-black);
}
.home-about .image  .form-group input[type="email"], input[type="number"], 
input[type="password"], input[type="tel"], input[type="text"],
input[type="url"], textarea {
       position: relative;
       display: inline-block;
       width: 100%;
       vertical-align: top;
       margin: 0 0 35px;
       padding: 8px 0;
       font-family: inherit;
       font-size: 15px;
       line-height: 24px;
       letter-spacing: .045em;
       font-weight: 400;
       color: #939393;
       background-color: transparent;
       border: none;
       border-bottom: 1px solid #dcdcdc;
       border-radius: 0;
       outline: 0;
       cursor: text;
       -webkit-transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
       -o-transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
       transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
   }
.home-about .image  .form-group input[type="email"]:focus, input[type="number"]:focus, 
   input[type="password"]:focus, input[type="tel"]:focus, input[type="text"]:focus, textarea:focus {
       color: var(--main-color);
}
.home-about .image  .form-group .check-box-info {
   padding-bottom: 2rem;
}

.home-about .image  .form-group .check-box-info input {
   margin: .3rem;
   accent-color: var(--main-color);
}
.home-about .image  .form-group .check-box-info label {
   font-size: 1.5rem;
   color: var(--light-black);
}
.home-about .image  .form-group .message {
   padding: 1.5rem 2.5rem;
}
   
/* contact end  */

.home-packages{
   background: var(--white);
}

.home-packages .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
}

.home-packages .box-container .box{
   border:var(--border);
   box-shadow: var(--box-shadow);
   background: var(--white);
}
.home-packages .box-container .image{
   position: relative;
}
.home-packages .box-container .image img {
   width: 100%;
   height: 100%;
}

.home-packages .box-container .image .center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
}

.home-packages .box-container .box:hover .image img{
   transform: scale(1.1);
}

.home-packages .box-container .box .image{
   height: 25rem;
   overflow: hidden;
}

.home-packages .box-container .box .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: .2s linear;
}

.home-packages .box-container .box .content{
   padding:2rem;
   text-align: center;
}

.home-packages .box-container .box .content h3{
   font-size: 2.5rem;
   color:var(--black);
}

.home-packages .box-container .box .content p{
   font-size: 1.7rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}

.home-packages .load-more{
   text-align: center;
   margin-top: 2rem;
}

.home-offer{
   text-align: center;
}

.home-offer .content{
   max-width:70rem;
   margin:0 auto;
}

.home-offer .content img{
   width: 300px
}
.home-offer .content h3{
   font-size: 3.5rem;
   text-transform: uppercase;
   color:var(--black);
}

.home-offer .content p{
   font-size: 2rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}
.home-offer .content p i{
   font-size: 2rem;
   padding-right: .6rem;
   color: var(--main-color);
}

/* ================================================ */
.about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:3rem;
}

.about .image{
   flex:1 1 41rem;
}

.about .image img{
   width: 100%;
}

.about .content{
   flex:1 1 41rem;
   text-align: center;
}

.about .content h3{
   font-size: 3rem;
   color:var(--black);
}

.about .content p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}

.about .content .icons-container{
   margin-top: 2rem;
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   align-items: flex-end;
}

.about .content .icons-container .icons{
   background: var(--light-bg);
   padding:2rem;
   flex:1 1 16rem;
}

.about .content .icons-container .icons i{
   font-size: 4rem;
   margin-bottom: 2rem;
   color:var(--main-color);
}

.about .content .icons-container .icons span{
   font-size: 1.5rem;
   color:var(--light-black);
   display:block;
}

.reviews{
   background: var(--white);
}

.reviews .slide{
   padding:2rem;
   border:var(--border);
   background: var(--white);
   text-align: center;
   box-shadow: var(--box-shadow);
   user-select: none;
}

.reviews .slide .stars{
   padding-bottom: .5rem;
}

.reviews .slide .stars i{
   font-size: 1.7rem;
   color:var(--main-color);
}

.reviews .slide p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}

.reviews .slide h3{
   font-size: 2rem;
   color:var(--black);
}

.reviews .slide span{
   font-size: 1.5rem;
   color:var(--main-color);
   display: block;
}

.reviews .slide img{
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   margin-top: 1rem;
}

/* =========================================== */

.team .box-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}
.team .box-container .box {
   height: 400px;
   width: 280px;
   border: 8px solid #fff;
   box-shadow: 0 5px 5px #000;
   overflow: hidden;
   margin: 20px 15px;
}
.team .box-container .box img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   filter: grayscale();
}
.team .box-container .box:hover img {
   filter: grayscale(0%);
   transform: scale(1.1);
}

.team .box-container .box .info {
   text-align: center;
   background-color: #fff;
   position: relative;
   bottom: 40px;
}
.team .box-container .box:hover .info {
   bottom: 128px;
}

.team .box-container .box .info .title {
   padding: 5px 0;
   font-size: 18px;
   color: #333;
   text-transform: capitalize;
}
.team .box-container .box .info .post {
   font-size: 12px;
   padding-bottom: 2px;
   text-align: center;
   color: #999;
   text-transform: capitalize;
}

.team .box-container .box .info .share {
   padding-top: 9px;
   border-top: 1px dotted #747474;
}
.team .box-container .box .info .share a{
   font-size: 20px;
   margin: 20px 10px;
   text-decoration: none;
   color: #333;
}
.team .box-container .box .info .share a:hover{
   color: #999;
}

.presantation .container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
   gap: 1.5rem;
}
   /* display: flex;
   justify-content: center;
   gap: 1rem;
} */
.presantation h1 {
   font-size: 3rem;
   color: var(--black);
}
/* .presantation .container > * {
   flex: 1;
   padding: 0 1rem 0 1rem;
} */
.presantation .container  img {
   max-width: 100%;
   height: auto;
}
.presantation .container .box .content {
   font-size: 1.7rem;
   padding: 1rem 0;
   line-height: 2;
   color: var(--light-black);
}

.presantation .container .box .content, .box ul, p {
   font-size: 1.7rem;
   line-height: 2;
   color: var(--light-black);
}
.presantation .container .box .content .sub-title {
   font-size: 2rem;
   color: #000;
}
.presantation .container .box .content  ul li span {
   color: var(--main-color);
   margin: 0 1rem 0 1rem;
}
.presantation .container .box .content .moreText  {
   display: none;
   transition: 0.7s linear;
}
.presantation .container .box .content.show-more .moreText {
   display: inline;
}
.presantation .container .box .content.show-more .dots {
   display: none;
}
/* Stategy */
.presantation .intro  {
   display: flex;
   justify-content: center;
   gap: 1rem;
   margin-bottom: 1rem;
}
.presantation .intro > * {
   flex: 1;
   padding: 0 1rem 0 1rem;
}
.presantation .container .box  ul li span {
   color: var(--main-color);
}
/* .presantation .container .box ul li ul li {
   margin-left: 3rem;
} */





.footer{
   background: linear-gradient(#306231b7,#3062318f), url(../img/footer.jpg) no-repeat;
   background-size: cover;
   background-position: center;
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 3rem;
}

.footer .box-container .box h3{
   color:var(--white);
   font-size: 2.5rem;
   padding-bottom: 2rem;
   margin-top: 10rem;
   font-weight: 500;
}
.footer .box-container .box img{
   padding-bottom: 2rem;
   width: 200px;
}

.footer .box-container .box a{
   color:var(--light-white);
   font-size: 1.5rem;
   padding-bottom: 1.5rem;
   display: block;
}

.footer .box-container .box a i{
   color:var(--main-color);
   padding-right: .5rem;
   transition: .2s linear;
}

.footer .box-container .box a:hover i{
   padding-right: 2rem;
}

.footer .credit{
   text-align: center;
   padding-top: 3rem;
   margin-top: 3rem;
   border-top: .1rem solid var(--main-color);
   font-size: 2rem;
   color:var(--white);
}

.footer .credit span a{
   color:var(--main-color);
}
















/* media queries  */

@media (max-width:1200px){

   section{
      padding:3rem 5%;
   }
}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   section{
      padding:3rem 2rem;
   }

   .home .slide .content h3{
      font-size: 10vw;
   }
   

}

@media (max-width:768px){

   .heading h1{
      font-size: 4rem;
   }

   #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      padding:2rem;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

   }
   .header .navbar ul li {
        width: 100%;
   }
   .header .navbar ul li ul {
        position: relative;
        width: 100%;
   }
   .header .navbar a {
      display: block;
      margin:2rem;
   }
   .header img {
      width: 180px;
      height: auto;
  }
  .presantation .container {
      flex-direction: column;
   }
   .presantation .intro  {
      flex-direction: column;
   }
}

@media (max-width:450px){

   html{
      font-size: 50%;
   }
   .home-about .content {
      text-align: center;
   }
   .home-about .image{
      padding: 4rem;
   }
   .services .box-container .box .phone_none {
      font-size: 1.5rem;
      padding: .5rem 2rem;
   }
   .heading-title{
      font-size: 3.5rem;
   }
   .footer .box-container .box h3{
      margin-top: 0;
   }

}